{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block content %}
	<div class="container-fluid" style="max-width: 1500px; margin: 0 auto;">
		<div class="row">
			{% if card %}
				<div class="col-12 mt-3">
					<h2>Card: {{ card }}
						<a href="{% url 'generator:mod-card-delete' card.id %}" class="btn btn-outline-danger btn-sm ml-5">Delete Card</a>
						<a href="{% url 'generator:mod-card-update' card.id %}" class="btn btn-outline-info btn-sm ml-2">Edit Card</a>
					</h2>
					<hr>
				</div>
				<div class="col-12 mt-3">
					<h4>Used in <span class="font-weight-bold">{{ card.decks.count }}</span> decks:</h4>
					<div class="row">
						{% for deck in card.decks.all %}
							<div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
								<a href="{{ deck.get_absolute_url }}" class="btn btn-outline-info w-100 h-100">
									<div class="card-body text-center font-weight-bold align-middle">
										{{ deck }}
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-12 mt-3">
					<h4>Used in <span class="font-weight-bold">{{ card.games.count }}</span> games:</h4>
					<div class="row">
						{% for game in card.games.all %}
							<div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3">
								<a href="{{ game.get_absolute_url }}" class="btn btn-outline-info w-100 h-100">
									<div class="card-body text-center font-weight-bold align-middle">
										{{ game }}
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}