{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col mt-5">
				<div class="jumbotron pb-2">
						<h1 class="display-4">Welcome to the Game Knight!</h1>
						<p class="lead">The only word app you'll need to play all sorts of games! Free accounts come with several standard decks full of cards sorted by category. Pick one or more decks to use during a game, and change it up whenever you want!</p>
						<hr class="my-4">
					{% if user.is_authenticated %}
						<p>Get started with a new game now, or check out your profile to see past games and more.</p>
						<a class="btn btn-success btn-lg ml-3 my-3" href="#" role="button">New Game</a>
						<a class="btn btn-info btn-lg ml-3 my-3" href="{% url 'users:profile' %}" role="button">Profile</a>
					{% else %}
						<p>Sign in, or get yourself a FREE account to start playing Pictionary, Charades, Catch Phrase, and more!</p>
						<a class="btn btn-success btn-lg ml-3 my-3" href="{% url 'users:registration' %}" role="button">Sign Up</a>
						<a class="btn btn-info btn-lg ml-3 my-3" href="{% url 'users:login' %}" role="button">Login</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}