{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		{% if game_list %}
			<div class="row">
				{% for game in game_list %}
					<div class="col-10 col-sm-6 col-md-4 col-lg-3 my-3">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title m-0">
									{{ game }}
								</h5>
							</div>
							<div class="card-body">
								<p class="font-weight-bolder m-0 d-flex justify-content-around mt-3">
									<span><span class="text-info">Decks:</span> {{ game.deck_query.count }}</span>
									<span><span class="text-info">Cards:</span> {{ game.card_query.count }}</span>
								</p>
								<a href="{{ game.get_absolute_url }}" class="btn btn-info btn-sm w-100 mt-4">View Game</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}